%div.container.about-container
  %div.row
    %div.col-md-2
    %div.col-md-8
      %h2 About
      %div.text
        Tee Shits is the brain abortion of Jake Buller and Mark Tuer who met by happenstance in
        university, had a brief stint of ‘experimentation’ together (it was awkward and required a lot of clean
        up), then decided to start a politically offensive website based on selling T-shirts because original ideas
        are for suckers and delinquents! This is a website that was designed as haven for people who can take a
        joke too far and roll their eyes at people who say things like ‘sensitive’, ‘offensive’ and ‘You have the
        right to remain silent’. This is place for your verbal dysentery so have fun! Just don’t be a cunt.

      %h2 Mark
      %div.text
        Born a misanthropic and hateful centaur in 1990, he was an outcast. Thankfully, through hard
        work and the teachings of the ever vengeful Buddha, Mark grew into a misanthropic and hateful human
        adult! Praise Buddha! He went to Laurier University to study English because he likes bad ideas and ever
        since then he has made a living doing things for minimum wage ever since. Then, during one of their
        court mandated pansexual orgies, Jake proposed this website to Mark and inspiration struck. Putting the
        latex covered midget aside and wiping his mouth, Mark knew he finally found his calling. That calling
        was filming degrading midget bokakke pornography and this website would help finance that dream, so
        here we are.

      %h2 Jake
      %div.text
        The brains of the operation, Jake is a computer programmer who graduated from Wilfred
        Laurier and has a ridiculously large penis. He works at a respectable job with respectable people who all
        have inferior penises and Jake decided to delve into the dark side of his mind. Exploring the dingy
        corners of his psyche he discovered, not an urge to murder unsuspecting prostitutes, but to make this
        website. Those lovely ladies of the night can rest easy! Unless they are dreaming of his large, well-
        shaped penis.

    %div.col-md-2
