-# Under construction header
%h2.welcome-title The Original Tee Shits Shit Disturbers
%div.text.welcome-title
  Tee Shits is the brain abortion of Jake and Mark, who met by happenstance in
  university, had a brief stint of ‘experimentation’ together (it was awkward and required a lot of clean
  up), then decided to start a politically offensive website based on selling T-shirts because original ideas
  are for suckers and delinquents! This is a website that was designed as haven for people who can take a
  joke too far and roll their eyes at people who say things like ‘sensitive’, ‘offensive’ and ‘You have the
  right to remain silent’. This is place for your verbal dysentery so have fun! Just don’t be a cunt.

-# Main products area
- @product_rows.each do |row|
  %div.row.product-row.spacer
    -row.each do |product|
      %div.product-col.col-md-4
        %a{:href => products_path + '/' + product.id.to_s}
          %div.product-listing-image
            =image_tag product.image_link
        %div.product-listing-info
          %span.text
            =number_to_currency(product.price)
          =link_to 'Buy Now', product.purchase_link, class: 'text-2'
