-# Under construction header
%h1.welcome-title-1 Under Construction
%h1.welcome-title-2 Give it a second. Would yeah? Could you give it a second. It's going to space. Can you give it a second?
%div.lk-credit - Louis C.K.

%br
%br
%br

-# Main products area
- @product_rows.each do |row|
  %div.row.products-row
    -row.each do |product|
      %a{:href => products_path + '/' + product.id.to_s}
        %div.product-listing.col-xs-4
          %div.product-listing-image
            =image_tag product.image_link
          %span.product-price-tag
            =number_to_currency(product.price)
