-# Under construction header
%h2.welcome-title The Original Tee Shits
%div.text.welcome-title
  Want to ward off unwanted conversations with annoying nice people? We’ve got a shirt for that. Want
  to weed out the idiots who will correct your clearly sarcastic remark because they assume everyone is as
  stupid as them? We have a shirt for that too! T-Shits is the place where you can wear your distaste for
  normal human interaction on your sleeve. Or more accurately your chest! No longer will you have to
  search high and low for clothing that make others feel uncomfortable and socially awkward, and we
  here at T-Shits are happy to fill this inexplicably unfilled niche!
  %br
  Disclaimer: Remember, we care about your money not your opinion but feel free to give us both.

-# Main products area
- @product_rows.each do |row|
  %div.row.product-row.spacer
    -row.each do |product|
      %div.product-col.col-md-4
        %a{:href => products_path + '/' + product.id.to_s}
          %div.product-listing-image
            =image_tag product.image_link
        %div.product-listing-info
          %span.text
            =number_to_currency(product.price)
          =link_to 'Buy Now', product.purchase_link, class: 'text-2'
