%div{:class => 'row'}
  %div{:class => 'col-xs-4'}
    =image_tag @product.image_link, :class => 'product_main_img'

  %div{:class => 'col-xs-4'}

    %div{:class => 'product-name'}
      %h2
        =@product.name

    %div{:class => 'product-description'}
      =@product.description

    %div{:class => 'product-price'}
      =number_to_currency(@product.price)

    %div{:class => 'product-button-wrapper' }
      =button_to 'Buy', @product.purchase_link, class: 'button btn-default product-buy'
