%div.row
  %div.col-md-5
    %div.product-image
      =image_tag @product.image_link, :class => 'product_main_img'
  %div.col-md-7
    %div.product-info
      %h2
        =@product.name

      %div.product-description.text
        =@product.description

      %div.product-price.text
        =number_to_currency(@product.price)

      %div.product-button-wrapper
        =button_to 'Buy', @product.purchase_link, class: 'my-btn product-buy'
